span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc1 {
	color: #008000;
}
.sc2 {
	font-weight: bold;
	color: #0000FF;
}
.sc3 {
	color: #8000FF;
}
.sc4 {
	color: #0080FF;
}
.sc5 {
	color: #FF8000;
}
.sc6 {
	color: #808080;
}
.sc7 {
	color: #808080;
}
.sc8 {
	font-weight: bold;
	color: #000080;
}
.sc9 {
}
.sc10 {
	color: #804000;
}