<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Peter Myers - Notes">
  <meta name="keywords" content="Blog,Programming">
  <meta name="author" content="Peter Myers">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../../CSS/Programming/main.css">
  <link rel="stylesheet" type="text/css" href="../../../CSS/Programming/r_coding.css">
<title>Peter Myers - Notes</title>
</head>

<body>
<div id="allcontent">

<div class="container">

<div class="page-header">
<h1 id="Logo">Peter Myers - Notes</h1>
</div>

<div class="jumbotron">
<p>
	<a href="../Java/Main.html" class="btn btn-default btn-lg" >Java</a>
	<a href="../SQL/Main.html" class="btn btn-default btn-lg" >SQL</a>
	<a href="../JavaScript/Main.html" class="btn btn-default btn-lg" >JavaScript/HTML/CSS</a>
	<a href="../Scala/Main.html" class="btn btn-default btn-lg" >Scala</a>
	<a href="../Data_Management/Main.html" class="btn btn-default btn-lg" >Data Management</a>
	<a href="../Machine_Learning_and_R/Main.html" class="btn btn-default btn-lg" >Machine Learning and R</a>
</p>
</div>
<div class="jumbotron">

<div class="top-nav-bar">
<p><a href="#contents">To Contents</a></p>
</div>

<blockquote><p></p></blockquote>
<blockquote><p></p></blockquote>
<p>A large part of these notes are paraphrased from the following books and YouTube channels.</p>
<ul>
	<li>Head First HTML/CSS</li>
	<li><a href="https://www.youtube.com/watch?v=gqOEoUR5RHg">Bootstrap Tutorial</a></li>
	<li>Beginning JavaScript</li>
  <li>Treehouse Website Lectures</li>
</ul>
<h1>JavaScript/HTML/CSS</h1>

<h2><a id="contents">Contents</a></h2>
<ul>
	<li><a href="#html_css_basics">HTML/CSS Basics</a></li>
	<li><a href="#treehouse_html_css">Treehouse HTML CSS</a></li>
	<li><a href="#treehouse_javascript">Treehouse JavaScript</a></li>
  <li><a href="#treehouse_ruby_on_rails">Treehouse Ruby on Rails</a></li>
  <li><a href="#treehouse_php">Treehouse PHP</a></li>
  <li><a href="#treehouse_bootstrap">Treehouse Bootstrap</a></li>
  <li><a href="#treehouse_angular_1">Treehouse Angular 1.0</a></li>
  <li><a href="#treehouse_d3">Treehouse D3</a></li>
</ul>

<h2><a id="additional">Additional Contents</a></h2>
<ul>
	<li><strong>Code</strong><ul>
		<li><a href="http://codepen.io/peterm/pen/KzeygV">Quiz Application</a></li>
		<li><a href="http://codepen.io/peterm/pen/JXZOKM">Survey Builder</a></li>
		<li><a href="http://codepen.io/peterm/pen/pyKvya">To Do List</a> (the CSS isn't very good here)</li>
		<li><a href="http://codepen.io/peterm/pen/JKmVLg">Codify</a></li>
	</ul></li>
</ul>

<h2><a id="html_css_basics">HTML/CSS Basics</a></h2>

<blockquote><p>Understand HT and ML of HTML</p></blockquote>
<h3>Designing a website</h3>
<ol>
	<li>draw it out</li>
	<li>decide on folder structure</li>
	<li>use markup (ML) to make an HTML page like the drawing.  Starting with an outline of tags before content.</li>
	<li>add content</li>
	<li>add enhancements</li>
</ol>

<h3>Some Main Hypertext Elements</h3>

<ul>
<li>&#x3C;q&#x3E; and &#x3C;blockquote&#x3E; are quote tags</li>
<li>&#x3C;a&#x3E; hyperlink</li>
<li>&#x3C;br&#x3E;&#x3C;hr&#x3E; line break, horizontal line break</li>
<li>&#x3C;h1&#x3E;&#x3C;p&#x3E; headers and paragraphs</li>
<li>&#x3C;img&#x3E; images</li>
<li>&#x3C;li&#x3E;&#x3C;ol&#x3E;&#x3C;ul&#x3E; list items, ordered, and unordered</li>
<li>&#x3C;dl&#x3E;&#x3C;dt&#x3E;&#x3C;dd&#x3E; another list type</li>
<li>&#x3C;em&#x3E;&#x3C;strong&#x3E; emphasize, stronger em</li>
<li>&#x3C;address&#x3E; like you&#x27;re house</li>
<li>&#x3C;code&#x3E; programming code</li>
<li>&#x3C;target&#x3E; tooltips and screen readers</li>
<li>&#x3C;del&#x3E;&#x3C;ins&#x3E; specify will delete it will insert</li>
<li>&#x26;amp; &#x26;gt; &#x26;lt; displays some special chars</li>
<li>In HTML, &#x3C;div&#x3E; blocks group your blocks in a logical way.  Keep structure as simple as possible.</li>
</ul>

<h3>Getting on the web</h3>
<ol>
<li>find yourself a hosting company</li>
<li>choose a domain name (usually through them/</li>
<li>send files to hosting company</li>
<li>tell others</li>
</ol>

<h3>Shop for a hosting company</h3>
<ol>
<li>Get your own domain name, and a host that allows PHP or Java (Most hosting companies support PHP and Java.)</li>
<li>How much data transfer is allowed?</li>
<li>backups</li>
<li>domain name included in pricing?</li>
</ol>


<h3>FTP - file transfer</h3>
<p>
Store files in directories like when it was local.  How do you incorporate a Java program?
FTP applications: command line, Fetch, Transmit, and Cyberduck. (Might prefer command line)
Easier to make updates go live quicker: Dreamweaver or GoLive
</p>

<p>
Link to a location on the page is possible, it involves wrapping that location in &#x3C;a&#x3E;.  Give it an id attribute and put #myIdName11 on the href that goes to it.
&#x3C;a&#x3E; are like portals that you set up to go into or come out of them.  You can open a page in a new window, but rarely used.
</p>

<h3>Images</h3>
<p>
Images: JPEG for complex graphics
GIF for simpler images like logos and allows transparency.

Go for 72 pixels per inch of an image.  The max width of an image or browser can be assumed to be 800px as a rule of thumb
Logos are 100 to 200 pixels wide.
Use a photo editing application, change the image size and save it (save for web might be an option).  Cropping images is an option to fit a certain size.
</p>
<h4>Examples of Good Widths and Heights for Images (72px is about an inch)</h4>
<table>
<tr>
	<th>Width</th>
	<th>Height</th>
</tr>
<tr>
	<td>600</td>
	<td>400</td>
</tr>
<tr>
	<td>Thin</td>
	<td>Tall</td>
</tr>
<tr>
	<td>150</td>
	<td>100</td>
</tr>
<tr>
	<td>100</td>
	<td>150</td>
</tr>
</table>
<h3>Ideas on Images</h3>
<ul>
	<li>You may want images clickable and go to a larger version of the image on a new page.  Thumbnail folder and large image folder.  Good form to not link directly to the photo file but HTML instead.</li>
	<li>A logo has a checkered transparent background.  Set matte to the background color in the photo edit application to get a good blend</li>
</ul>

<p>
For the strict version use this if HTML 4.
&#x3C;!DOCTYPE html PUBLIC &#x22;-//W3C//DTD HTML 4.01//EN&#x22; &#x22;http://www.w3.org/TR/html4/strict.dtd&#x22;&#x3E;</li>
</p>
<h3>Some Rules when using HTML4</h3>
<ul>
	<li>HTML tag with head and body inside only.</li>
	<li>Title is required in the head.</li>
	<li>Blocks only in the body.</li>
	<li>No blocks inside inline tags.</li>
	<li>no blocks in &#x3C;p&#x3E; tag.  Only &#x3C;li&#x3E; in &#x3C;ol&#x3E; and &#x3C;ul&#x3E;.</li>
	<li>Anything is allowed in &#x3C;li&#x3E; including blocks.</li>
	<li>Blocks only in &#x3C;blockquote&#x3E;.</li>
	<li>Be careful of some double nesting of inline tags like &#x3C;a&#x3E; nested in &#x3C;a&#x3E;, but usually nesting is fine.</li>
</ul>

<p>At some time in the future, it might be required to use XML for a project.  To use XML, there are a few more rules</p>
<h3>Some Rules when using HTML4</h3>
<ul>
	<li>Use a new doctype.  &#x3C;!DOCTYPE html PUBLIC &#x22;-//W3C//DTD XHTML 1.0 Strict//EN&#x22; &#x22;http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd&#x22;&#x3E;</li>
	<li>add xmins, lang, and xml:lang attributes to &#x3C;html&#x3E; tag.</li>
	<li>All elements in lowercase.</li>
	<li>All opening tags &#x3C; must also have a space and \&#x3E; at the end of the element.</li>
	<li>All attribute values are enclosed with double quotes.</li>
	<li>Convert special characters like &#x26; to use something like &#x26;amp;</li>
</ul>

<p>
w3 validation site can find errors in your HTML 4.01 Strict and XML code.
Avoid using XHTML because some lack of browser support, unless there is a good reason to use the XHTML.
XHTML can be good when translating XML to HTML and might be better for mobile devices.
</p>

<h3>Style in HTML and Validator</h3>
<p>
Style tag is used if CSS is in the HTML.  To put CSS in another file use:
&#x3C;link type=&#x22;text/css&#x22; rel=&#x22;stylesheet&#x22; href=&#x22;lounge.css&#x22; &#x3E;
CSS overriding uses the most specific rule, if a tie, it uses the last rule in the css file.  Some css inherits to nested elements, others do not; consult a reference book.
Validate your CSS with
http://jigsaw.w3.org/css-validator/
</p>
<h3>CSS</h3>
<h4>Some common styling attributes</h4>
<ul>
<li>Color</li>
<li>top</li>
<li>text-align</li>
<li>letter-spacing</li>
<li>background-color</li>
<li>font-style</li>
<li>border</li>
<li>list-style</li>
<li>background-color</li>
<li>font-style</li>
<li>margin</li>
<li>line-height</li>
<li>left</li>
<li>fony-weight</li>
</ul>

<h4>font-family is for fonts (5 main types)</h4>
<ul>
<li>Serif is elegant, traditional, and like a newspaper&#x27;s text.</li>
<li>Sans-serif is the best one, it is clean and readable especially on computers.</li>
<li>Monospace is for code.</li>
<li>Cursive is for some headers.</li>
<li>Fantasy is rarely used.</li>
</ul>

<p>
List out several types of one font-family, in case a client's computer doesn't have the first fonts.<br>
Example: Veranda, Geneva, Arial, sans-serif<br>
sans-serif is a way to tell the computer to use any sans-serif type font they have, it is a default last choice.
</p>

<h4>Font-size</h4>
<p>
Use px for pixels, % for relative size, em seems the same as percent, also there are keywords.  You'll have success if you follow these three steps.
</p>

<ol>
<li>use a keyword (usually small or medium) and place it in your body rule</li>
<li>use em or % for all other font-size rules</li>
<li>make headers smaller 200% and 150% are default for &#x3C;h1&#x3E; and &#x3C;h2&#x3E; but 170% and 130% work better.</li>
</ol>

<h4>Color</h4>
<p>
Hex codes are the most common.  There is also rgb.<br>
Example 1: rgb(80%, 40%, 0%)<br>
Example 2: RGB(204, 102, 0)<br>
Text and background should have a high contrast for readability, like black and white.
</p>

<h4>Some Other CSS Properties</h4>
<ul>
<li>For font-weight, only use bold or normal, others aren&#39;t supported well.  You can update headers to be normal, they are bold by default.</li>
<li>font-style can be italic (curly) or oblique (letters slanted to the right), something to add to quotes and block quotes.</li>
<li>font-decorations draw lines near text like underline.  Bottom border is often better than underline because underlines look clickable on the Web.</li>
<li>line-height is spacing between lines.</li>
<li>Box model: content, padding, border, margin.</li>
<li>Background-image is used for styling images.  Background-repeat: no-repeat is useful.  Other options repeat horizontally or vertically or inherit behavior.</li>
<li>Background-position: top left    helps with positioning of the image inside the padding and content area.</li>
<li>Border-style: groove or solid or dotted or dashed or inset or double or outset or ridges.  One style is to use a dashed border of the background color.</li>
<li>Border width in pixels, border color.  Can specify a subset of border sides for each border property too.</li>
</ul>

<h4>Precedence</h4>
<p>
The id attribute is similar to class.  To select an id use # instead of a period.  CSS stands for cascading style sheets because the rules override each other in a
cascading way.  If two rules update the same attribute, the most specific selector will override; if there is a tie, the last rule defined in the stylesheet(s) overrides it.
So you may want to put a certain stylesheet last in the HTML link tags to take advantage of this tie rule.  The &#x3C;link&#x3E;
attribute can specify if a stylesheet should be used based on the device viewing it.  The attribute is called media.
Place device specific stylesheets lower so they take precedence for ties.
Typing !Important might help override also.
Each matching id improves thr level that something is specific, if tied for the count it looks for a count of classes, then the if tied the count of elements mentioned.
</p>
<h4>Basic Pseudo-classes</h4>
<p>
Styling links based on unvisited, visited, and hover.  These are pseudo-classes
</p>
<ul>
<li>a:link</li>
<li>a:visited</li>
<li>a:hover</li>
<li>p:first-child</li>
</ul>

<h4>Basic Positioning</h4>
<ul>
<li>Width and height.  Saying a div is 200px means the content part is 200px inside, padding and margin are added so the total could be higher than 200px.  You can use percentages with width and 50% is 50% of the width of the container of the content (the content &#x3C;p&#x3E; might inherit this)</li>
<li>Text-align center. Will center text</li>
<li>Div are good because you can style them and it will pass those styles by inheritance to those elements it contains.</li>
<li>Line-height: 1 is better than 1em when working with divs due to how inheritance works.</li>
<li>There are shortcuts to defining many CSS properties on one line.</li>
<li>&#x3C;span&#x3E; is usually used to give a class or id to inline text.</li>
<li>Margin of two inline elements above each other act differently.  The largest margin is used only for the space dividing them top/bottom.  Images are usually the only inline element with margins.</li>
<li>Try negative margins.  Negative margins can nudge elements in the right direction, make tables, make columns, make 3D text by overlaying black and blue text 1 or 2,,px apart</li>
</ul>

<h4>Float</h4>
<p>
Float is considered most flexible and good for web layout.  It allows for multiple columns of content on a screen.
To Implement, give the block a width and set it as float right or left.
The blocks ignore it and the inline elements avoid it.  Float right will put this section on the right.  Margin is good to force the block to avoid touching the floating block.
"Clear: right" Can be useful for a footer so it won't overlap.  It means it will allow anything flowing right to finish before it appears below it.

<h4>Frozen Layout</h4>
<p>Implement the frozen layout by surrounding everything in body with a div and give that a width of 800px.
<h4>Jello Layout</h4>
<p>Similar to frozen layout, but centers the content if the page gets too large.  To get this, set margin left: auto; and margin-right: auto;
It is more popular to use jello layout over frozen layout

<h4>Absolute Positioning</h4>
<p>In contrast to float, absolute positioning has both blocks and inline elements avoid it.  The z-index is useful to determine which element is on top.

<h4>Positions</h4>
<ul>
<li>Fixed: stays there even when page scrolls</li>
<li>Absolute: the absolute location in its (z-indrx matters) container (other content and blocks ignore it)</li>
<li>Static: default.  Normal flow.</li>
<li>Relative: static but offset from the normal position.</li>
</ul>

<h3>More HTML and CSS with Tables and Forms</h3>
<h4>Tables</h4>
<p>It is recommended today not to use the table HTML element, but instead to <a href="https://css-tricks.com/responsive-data-tables/">implement tables by using CSS</a></p>

<p>
Table uses &#x3C;table&#x3E;&#x3C;tr&#x3E;&#x3C;th&#x3E;&#x3C;td&#x3E; the is header, td is data, and tr is a row.
Place a summary attribute on &#x3C;table&#x3E; and put &#x3C;caption&#x3E; as the first thing in the &#x3C;table&#x3E;
caption-side is used in CSS for title placement.

Tables have padding, a border, and border spacing (which you may want to collapse with botdrr-collapse)
Give a color to &#x3C;th&#x3E; in CSS
Give alternating color rows by coloring a class and giving even counted rows that class.
These pictures show how to merge cells to span two rows.  It works the same way for columns by using colspan

You can place a table within a table by putting the nested table in a &#x3C;td&#x3E; element.

Place headers on the left-hand by placing a &#x3C;th&#x3E; first in each row element.
</p>
<h4>List Styles</h4>
<p>
Lists have styles too
</p>
<ul>
<li>list-style-type has disc, circle, square, none, and possibly others.</li>
<li>list-style-image allows the bullets to be images.</li>
</ul>

<h4>Forms</h4>
<ul>
<li>Form HTML tag</li>
<li>Text input (input type)</li>
<li>Submit (input type)</li>
<li>Radio (input type)</li>
<li>Checkbox (input type)</li>
<li>Textarea (input type)</li>
<li>Select and option (input type)</li>
<li>Multi-select (input type)</li>
<li>Passwords (input type)</li>
</ul>
<h4>More on Forms</h4>
<p>
Attribute "checked" helps with defaults on radio, checkbox, option, and multi-select.
POST and GET are mostly the same but post hides some variables before you send it and get appends it to the URL.
Avoid GET with private data and purchases.  Get is good with the user being able to bookmark the resulting page and not have to redo the form.  Post is good when a lot of data is being sent like if you use a textarea.
Tables can be good with forms, this book says it can be easier than CSS, online they said it is bad form and CSS is best here.
Use fieldset and legend in your HTML with checkbox or anything you want to group together.
Use labels like on radio buttons, it is easier to style if you use labels rather than regular text.
</p>
<p>

<h4>Important Topics not Covered in Head First HTML/CSS</h4>

<ol>
	<li>There are more selectors.  pseudo elements have first letter and first line.  There are attribute selectors based on attributes used and optionally their values.  By siblings, direct descendants, combining selectors.</li>
	<li>Frames can let you have multiple websites on one page but it has become bad form, I think it is used on the codependent website</li>
	<li>Multimedia and flash</li>
	<li>to get higher google rankings use alt and title a lot.  In the meta tag set a name=&#x22;description&#x22; and content=&#x22;your description&#x22;.  Define a meta name=&#x22;keywords&#x22; content=&#x22;keyword phrase 1, phrase 2, etc.
You can keep your site unlisted on search engines too.</li>
	<li>style sheets for printing
media=&#x22;print&#x22; to point to a stylesheet in the link tag.
Set background to white
Specify font size in pts like 12pt
Use Eric for printed copies.
You can hide navigation bars (display properly none)
Remove positioning properties for the printer
Use flexible widths not a set width
Test it out</li>
	<li>mobile devices and PDAs
media=&#x22;handheld&#x22; to point to a stylesheet in the link tag
Keep it simple since people are charged for data usage.
Keep navigation obvious, use text links instead of scripting effects,
Scale down you page as much as you can, reduce your font sizes, margins, and padding as much as possible.
Multi-column layouts will be ignored often, so careful with the ordering the the HTML (I.e. less important thing was first and floated)
Pop up windows and frames usually aren&#x27;t supported.
Test on many devices!
Get into the habit of writing these alternative style sheets for handhelds.</li>
</ol>

<h2><a id="treehouse_html_css">Treehouse HTML CSS</a></h2>
<p>Use header, main, and footer tags to organize the html body.</p>
<ul>
<li>Import stylesheet</li>
<li>Selectors (class, id, tag, descendant, and pseudo-class).  <ul>
  <li>p.red: paragraph with class red</li>
  <li>p .red: class red inside paragraph</li>
  <li>p > .red: class red and direct parent (1 generation) is paragraph</li>
  <li>p, .red: class red or paragraph</li></ul></li>
<li>Value data types and basic styles</li>
<li>Box model and display</li>
<li>Width and height: relative to parent.  Width/height Padding, and border part of the total
  width/height, so defining width/height doesn't set the total width/height.
  To make width/height the total amount you can use: * {box-sizing: border-box;}.
  Max and min width are available.  Maxwidth 100% on images make them rescale in size.</li>
<li>Background images and size.  Size is the percent of the background area available.  Cover gives it a size that scales great.
You can have it repeat horizontally, vertically, and/or no repeat.  Background color in case it doesn't load.
Position of the image: center/top/left/percentage/etc.  Background style can define all these in one rule.</li>
<li>Float and clear.  To make something clear give it the group class: ".group:after { content: ""; display: table; clear: both;}"
Clear can make sure your div continues to contain a floated child.</li>
<li>List styles</li>
<li>Shadow, border radius, and gradient (One color to the other).  A cool affect is transitioning to the page's background color for an image.</li>
<li>Web fonts (import new fonts from your fonts directory), letter spacing, and media queries (Style block, if it is media (device)
   X and a condition passes then use the following rules).  Media queries are if statements for CSS.
   You can use an if statement based on max-width if condition and the CSS to change is mainly width, padding, border (none), max-height,
   display (none), float (none), font-size, and maybe margin.  You need a meta tag to tell the device how to handle viewport sizes.
   The Chrome browser console allows you to preview simulations of different devices viewing the page. </li>
<li>Browsers and users can define rules that are most important.  After those,
  the most specific rule is used (inline style has very high importance).  If a tie, the last rule wins.
  Style values are inherited from parents.</li>
<li>Forms and Tables.  "for" attribute can associate a label to an input.  Wrap sets in a "fieldset" tag to group them.  Put legends at the top of a fieldset.
You can add a title to a table with the caption tag.</li>

</ul>



<h2><a id="treehouse_javascript">Treehouse JavaScript</a></h2>
<h3>Things to Learn</h3>
<ul>
  <li>Display output and console usage.  Put 'use strict' at the top of JS files.</li>
  <li>Variables and Math object</li>
  <li>"If"</li>
  <li>Loops and Functions to follow the DRY principle (Don't repeat yourself)</li>
  <li>Arrays and object literal CRUD and iteration</li>
  <li>Let and Const</li>
  <li>Shorthand arrow function syntax</li>
  <li>DOM<ol>
      <li>Select - Get one or many by id, tags, classes, attributes with a value, nth even/odd child, etc.</li>
      <li>CRUD - Creating is two steps, creation and insertion into the DOM.  Set the text/HTML, attribute,
        class, input values, properties like style.</li>
      <li>Event Listeners - Events bubble up the DOM tree to parents.  You can put a listener on a parent and the event.target
        references the original element.  Events include clicks, mouse movement, touchpad touches, keys pressed, load, etc.</li>
    </ol></li>
  <li>Traversing the DOM - parent, children/"first/last element" child, and "next/previous element" sibling.</li>
  <li>jQuery and jQuery Plugins.  jQuery will work consistantly across browsers with less effort.
    jQuery code can run right away or wait for events.  The main naming convention for selected jQuery objects
    saved as variables is to start with a $ like "$name".  You even use the dollar sign method to create a
     new element.  There are effects like fadeIn().  Traversing - parent(), find(), prev(), next(), and siblings().
     Traversing is very useful with "this" in events.  jQuery Plugins allows you to do things like showing videos with
     little code.  Find them and add them to your website.  Modal dialoge boxes, listnav alphabetical navigation, video backgrounds "Vide",
     lightboxes, jQuery user interface (UI, widgets, effects, interactions, drag/drop, tabbed panels, date picker, dialog boxes), animated transition is a good one called "animsition".
     Plugins will include css, javascript, and often photos.  A plugin called Sticky keeps certain elements stuck to the page even if you scroll the page; for example you can use this on
     a top navigation bar.  Carousel is good for a main page; "slick" is one of these.
  </li>
  <li>Object Oriented and This Keyword.  This: 1) The object, 2) The object literal, 3) Used in a constructor.  To make a constructor
  just make a function that sets properties or methods; The parameters are optional, and you can set defaults.
  Example object creation: "var dice = new Dice(6);"
  Prototypes: "Dice.prototype.roll = () => {...})
  Prototype is about sharing something to all of the objects, and only running the code/method once.
  Prototype will allow you to add properties and methods to existing prototypes (prototypes are like a Java Class blueprint).
  It appears to be good practice to define all the functions added using the prototype property.
  You can do object inheritance in JavaScript too.</li>
  <li>HTTP and AJAX.  AJAX: JavaScript makes a request to a web server, and then does something with the response.
    Ruby on Rails, PHP, Java, or Python can be used to handle the server side part.  There are four steps to AJAX.
  1) Create an XMLHTTP Request object. 2) Define a callback function. 3) Open a request with a) method (Usually get or post) b) URL it is sent.
  4) Send the request.  You can right click on the console and choose log XMLHTTP Requests.  Use a POST when saving data, large amounts of data, or sending sensitive information.
  A query string appears after the question mark in the URL and a GET sends the data in the URL.  POST additionally requires a header that gives instructions.
  JSON is the most popular way to exchange data using AJAX.  When the client makes a request: You must stay on the same port, use the same host, use the same domain, and you can't switch between http and https (client and server).
  1) However, you are allowed to make requests server to server (called web proxy)
  2) another option is CDNs (called JSONP) like jQuery hosted sites.
  3) Another option is the new CORS (cross-Origin Resource Sharing), allows a server to accept requests from other domains.
  A local development environment with mamp for Mac allows you to use AJAX locally because AJAX requires a server.
  Check for readyState and successful status.  Responses are usually in JSON or XML, but sometimes in HTML or plain text.
  Parse the JSON and save it as a JSON Object.  Then loop through the result objects and usually you build HTML.
  You can use jQuery for AJAX abilities with many less lines of code.  Use $.ajax().fail() and you can do everything.  The fail() is optional
  and will do something if the AJAX fails.  APIs are what you can get from a web server.  Flickr (Photos), Twitter, and Facebook are examples of sites with APIs.
  It's good to add error handling when using AJAX.  There is an error event, and also you should use a try catch block.
</li>
  <li>Module Pattern and Loose Modification.  The module pattern helps to avoid cluttering the global namespace.  All you do is make a self executing anonymous function.
  This seems to be the same as packages in Java.  The loose modification is extending or creating the module, based on if it has already been loaded or not (one module on multiple files).
  Be careful not to overwrite variables within the same module.  Sub-Module Pattern is that you can namespace a module within a module.  A sub-module is like a package directory within a
  package and they use a period.  Modules also have import statements (code at the very end).</li>
  <li>ES2015.  This is the largest updated to JavaScript in a while.  Use ` for multi-line strings.  Use ${} to insert variables
  into strings.  Console.log can take multiple arguments and put it together as one string.  startsWith/endsWith methods are new and will start at an index.
  "Includes" method checks if a string exists in a string.  You can have default parameters in constructors and methods.
  Three dot syntax is added; this is like unlimited arguments allowed in other languages.
  Additionally you can pass array values as separate arguments with "let args = []; myFunc(...args);".
  Destructuring objects is assigning multiple variables at once by putting the keys on the left side of an assignment and the object on the right side; you can also rename the variables.
  Destructuring arrays is assigning multiple variables at once from an array.  Assign remaining elements into an array with ... syntax.
  When an object is created without values assigned, the variable name itself is the key and the value of the variable is the value in the object.
  A better for loop: "for (let teacher of teachers)" is like the syntax in Java; there is a different syntax when looping over object properties.
  Sets: use these by "new Set()".  Maps: use these by "new Map()" is like a set with key/values.
  "class" keyword is new and it makes it easier to read your classes and constructors.
  You can now "extend" classes; it is an easy to read syntax for inheritance.
  Static functions are available with the "static" keyword.  Getters and setters is better with "get" and "set" keywords.
  A simple way to make something private is to prefix the property with an underscore to express your intent.
</li>

  <li>Node.js.  Node.js is really fast.  It is JavaScript programming without objects like document and window.  Try and catch
  around parsing is a good idea.  Make print error a function.  There are different error codes to consider.  You can create new Error instances.
  Use modules (like a package) by separating code into different files and using the require() to use it.
  To make certain methods available when used, use module.exports.methodName.
  Protocol is the way the browser and web server agree to communicate; HTTP is Hypertext Transfer Protocol (HTTP server and HTTP client).

</li>
  <li>Gulp - A task runner.  Concatenate JS files, minify JS files, compile Saas into CSS, use watch task, scaffold tasks into multiple files.  gulpfile.js lives at your project's root directory and defines the tasks.
  When you change a file, Gulp will automatically reload the page with the changes saving seconds.
  "gulp serve" is used for the gulp development server.
  "gulp" is a command that gets the project production ready, minifying files among other things.  It puts the production code in a 'dist/' folder.
  Gulp is very useful, learn how to use it using the documentation or tutorials online.
  </li>
  <li>Unit Testing using Mocha.  Skipped this, use Mocha or another unit test framework.</li>
</ul>

<h2><a id="treehouse_ruby_on_rails">Treehouse Ruby on Rails</a></h2>
<h3>Things to Learn</h3>

<ul>
  <li>Ruby Basics.  Print to the screen.  String interpolation.  String methods.  Comments.  Methods, parameters, return.</li>
  <li>Control Structures.  Not equal.  If.  Equal to.</li>
  <li>Collections.  Arrays CRUD.  Interpolate element in an array.  Hash CRUD.  A hash is like a dictionary.</li>
  <li>Loops.  Break.  While.  Until, runs while it is false.  Iterate with "each".  X times is like a for loop.  "For in" loop works with ranges and arrays; avoid this one due to scoping.</li>
  <li>Objects and Classes.   Use dot new and dot class.  Objects have methods.  Objects have properties by using the @ symbol.
      method "initialize" (with optional arguments) is run when the class is initialized.  There is a shortcut to generating getters and setters.
    You can "load" in files like importing.  To string is available.</li>
  <li>Sinatra Framework.  Below is most of what you can do and it is simple.
    Focuses on request and responses and is much simpler than Ruby on Rails which uses MVC.
  All you need to do is generate the HTML and Sinatra makes that easier too.  ERB files are HTML files that can have Ruby code evaluated inside it.
  Define a wildcard url resource and it saves as a parameter; put wildcards last.  You can use variables from Ruby and use them in the ERB; most likely
    by saving them in the params hash.  You can open text files and write text files.  You can repeat HTML elements with an ERB loop, among other things.  The form HTML tag has an attribution for POST and GET.
  POST parameters are also saved in the params hash.  You can redirect the URL; useful after POSTs.
  You often should encode the URL before you redirect; to do this use uri.
  In order to do a PUT request, put this line at the start of the form:<br>
  &lt;input type="hidden" name="_method" value="put"&gt;<br>
  &lt;input type="hidden" name="_method" value="delete"&gt;<br>
  You can create a file with a head, embedded files like CSS, footer and apply it to all ERB files; this is called a Layout.
  You create the layout file and put a variable "yield" inside it, then give a second parameter to the erb method indicating the layout file.
  The default layout used is "layout.erb", so if you only have one layout, call it that.
  For security use this code:<br>
  def escape(string)<br>
    Rack::Utils.escape_html(string)<br>
  end<br>
  &lt;p&gt;&lt;%= escape @content %&gt;&lt;/p&gt;<br>
  </li>
  <li>Ruby on Rails 5 Framework.  Uses model view controller.  You set up routes, controllers, views.  Pages are made up of layouts,
    pages, and partials.  Statements like bin/ruby generate ....... are used to generate models/etc.  Use bin/ruby db:migrate for updating
    the database schema.
  </li>
  <li>Rails Routes and Resources.  No notes taken.</li>
  <li>Ruby Gems and Troubleshooting Rails Application.  No notes taken.</li>
</ul>

<h2><a id="treehouse_php">Treehouse PHP</a></h2>
<h3>Things to Learn</h3>

<ul>
  <li>PHP Basics.  PHP is automatically installed in browsers already.
    Write the PHP in the HTML, and the server will process it before it sends the response.
    Work on HTML like normal, but put the PHP code in code blocks in the HTML; the file should be .php not .html.
  Setting variables.  Concat.  Equals.  If elseif else.  Call PHP files from within PHP (makes it look clean) </li>
  <li>PHP Arrays and Control Structures.  Comparison operators, "and/or", switch.  Arrays, associated arrays, CRUD, sort, multi-dimensional.
  PHP loops; while, for, foreach.</li>
  <li>Functions.  Using global variables.  Parameters and default parameters.
  Return values, closures.  This code will run the answer function: function answer(){...} $func = 'answer'; echo $func()</li>
  <li>Basic Error Handling.  Don't show the PHP error to users in production.</li>
  <li>PHP with Databases.  Connect to SQLite.  Use try/catch with databases. (Skipped through this)</li>
  <li>Persistent Data. (Skipping)  Sessions - Users time at the site.</li>
  <li>CRUD in PHP. (Skipping)</li>
  <li>File Handling in PHP. (Skipping)</li>
</ul>

<h2><a id="treehouse_bootstrap">Treehouse Bootstrap</a></h2>
<h3>Things to Learn</h3>
<ul>
  <li>Why?  Rapid deployment, reusable HTML, CSS, Javascript.  Cross-browser compatibility.
  Most popular framework in the world for responsive HTML, CSS, and JavaScript on the web.
  It is a front-end framework.  Instead of testing on different devices and size screens, we can
just browse the documentation and copy the code we need for the HTML, CSS, and JavaScript.
On a project you will most likely use the grid and some other components.  CDNs are a good way to
get started.  Be sure to use the meta tags on Bootsrap's website when starting a project!
</li>
  <li>Create a simple page and enhance it.  It is very important to check out:
  CDN, basic template, Typography for headers and paragraphs, layout (containers), utilities for some positions (and padding),
input groups for forms (copy and paste what you want), layout->grid, utilities->colors</li>
  <li>Layout, grid, styling, column size, ordering and offset.  Grid: Container holds rows which hold columns.  Images can be responsive and there are
  border shapes to choose from.  The column sizes are based on mobile device sizes, and the size you choose means it will work for that size device and larger devices.
  Example: You can set the size for medium and up, and then override the behavior for extra large.
  You may want the most important content in the middle columns on large screens, but first on small.  Then use push/pull setting for set large devices and up.
  Offsetting is good.  You may want to show and hide content for certain screen sizes; it's good to hide images in xs so it loads faster.
</li>
  <li>Building a navbar, jumbotron, buttons and button groups, horizontal navs, dropdown buttons, cards, list group, model window, scrollspy.  Find the navbar you want and copy/paste it in.  You may want to use Boostrap's floating by using "pull right" with no margin.
  If your navbar is two lines on xs devices you may want to hide things at that size.  Putting a container in your nav bar is important.  You can stick the nav bar to the page.  Dropup/dropdown, footer.
Put cards inside columns.  Instead of lists use the list group and list group item blocks.
Modal windows are interactive popups (You can make them forms).  Scrollspy automatically updates the nav bar based on
the scroll position.</li>
  <li>Form groups, form controls, cross-browser consistency</li>
  <li>Structured form layouts with the grid</li>
  <li>Add validation styles</li>
  <li>Custom CSS</li>
</ul>


<h2><a id="treehouse_angular_1">Treehouse Angular 1.0</a></h2>
<ul>
  <li>Why? Angular is scalable and takes little code.  It's very fast and responsive because the first
  call to the server gets the Angular client side application and additional AJAX calls typically are only asking
for a small amount of data, not a new HTML page.</li>
  <li>Scope is one of the most important parts.  Views, directives, and controllers are other important parts.  Depending on the controller,
  the functions available differ due to their scope.  Defining a new function inside an inner scope, it will override other functions with the same name.</li>
  <li>You define the app creation in app.js with angular.module("yourAppName", []).  Then the controllers are defined with .controller('itsName', function($scope) {...}).  Then place
  controllers in the HTML.  If the controller HTML div contains another controller, it inherits those methods for itself.
  </li>
  <li>ng-model directive -> bind this value in the input to a object in the scope; ng-model="todo.name".  This updates variables in real time.
  To evaluate an angular variable use two curly braces like this {{todo.name}}.  ng-click=" editing = !editing" makes a toggle.
  ng-hide="" when true, hide the content.  ng-repeat="someitem in todos", repeats HTML using JS (might loop through an array).
  The ng-repeat lets you work with each item separately in their own scopes.  ng-class={'yourClass': expression}, if the expression is true, the class is added, if false, it won't pass the class to the element.
  ng-change="myScopeFunctionInController()", a function that watches for a change and it fires if the input changes.
  You can also do ng-change="todo.edited = true" to set a boolean when changed (first time input changes).
  .list .edited label:after {content: " edited";}
  </li>
  <li>Controllers work on one part of the application.  What if you want a variable to be in another part of the application?  Then use services; services do this with dependency injection.
  Multiple controllers can use the same service.  A service is always used by making it a dependency of a controller.
  Do this by making it the second parameter in the controller (after $scope).  Services often ask for data from the server.</li>
  <li>Put your test data in a mock folder.  Act like you make a REST API call, but just reference the mock data.
  Services can use $http parameter to get data.<br>
  this.getTodos = function(callback) { $http.get('mock/todos.json').then(callback) }
  in the controller: dataService.getTodos(function(response) {
    console.log(response.data); return response.data;
  })</li>
  <li>You can save and delete data with services as well.  If you delete data, you can pass in the index into the delete function,
  then delete the array real time so we can see the results; also you will tell the back end to delete the data in the db.</li>
  <li>When the array data is updated, the new data should automatically be rendered to the screen if certain things are set up.</li>
  <li>Everything prior to this is 90% of the main part of Angular.</li>
</ul>

<h2><a id="treehouse_d3">Treehouse D3</a></h2>
<ul>
  <li>Data driven documents.  There is a D3 link to put in your page.  Selection is important, use d3.select('div').style({'color': 'orange', 'font-size': 40px}).attr('anExampleAttr', 'someValue').
  The resulting visualization is all HTML/CSS that can be viewed in the console.
d3.selectAll('.house').classed('frog',true) will give all house class elements the frog class.  If you use false it will remove that class from the element.
SVG - Scalable vector graphics can be rendered in any modern browser and can be generated with JavaScript.</li>
<li>Shapes.  svg tag is the parent.  circle tag: use r, cx, and cy attributes.  line tag: use x1, y1, x2, y2, stroke="color", and stroke-width</li>
<li>Use of D3 selectors and svg together is very powerful!  Make a create function that creates the svg, circles and lines.</li>
<li>The next step is getting data and working with data.  Data is an array of objects with either arrays, values, or objects associated with each key (Having just an array might happen too).
D3 has ways to request with d3.json, d3.csv, d3.text, d3.html,  d3.tsv, and d3.xml.  The path is relative.
d3.json('phones.json', function(error, data) { ... });.  CSV will probably return an array of objects, where each element in the array is a row.</li>
<li>Put the svg in a div.  Load the csv data and inside the funciton do: dots = viz.selectAll('circle').data(data).enter()..append('circle');
The selectAll finds nothing yet, the data does a join and makes it an array of length same as csv's row count, enter does something, append creates the circles in the DOM.
Next do dots.attr('r', function(d) {return d.TMAX}); or change the cx or cy instead of the radius.  Negative values or outlier can be changed to prevent errors.
Understanding the data(data).enter() is not important, you just do it. It's good to set the height, width, and padding of the SVG (padding: circles away from edge of the SVG).
Set breakpoints in the browser Console and you can see what the variables are at the breakpoint (debugging).  Changing the stroke and fill of circles ia good way to style them.
You can do an if else condition for apply different styling.
</li>
<li>The "debugger" keyword used in JS will break your App for debugging in the Console on that line.  Use debugging to explore other people's apps online.</li>
<li>The hardest parts of D3 are over.  We set up variables that don't depend on the data callback ahead of time.
var yScale = d3.scale.linear().range([height, 0]);  Scales map the domain in your data to a visual range.  Range could be pixel position, size (like r of circle), or a color.
Scales are like object classes that have different methods and attributes.  The range above gives the minimum value as height and maximum value as 0 (0 is top of page); this seems backwards
but it is best this way.<br>
yMax = d3.max(data, function(element) {<br>
  return parseInt(element.TMAX)<br>
});<br>
yMin = d3.min(data, function(element) {<br>
  return parseInt(element.TMAX)<br>
});<br>
This finds the max and min of the TMAX for each element.  This is used in order to set up the y-axis range.
Better than yMin and yMax is this function which runs through the data once:<br>
yDomain = d3.extent(data, function(element) {<br>
  return parseInt(element.TMAX)<br>
});<br>
That returns an array of two values: the minimum and maximum.  We plug the array into the domain function of yScale like this:<br>
yScale.domain(yDomain);
Later you pass in an integer into the yScale method and it returns a pixel position.  To get the value based on a pixel position use yScale.invert(yourInt);
</li>
<li>Time Scaling.  Use the d3 timescale similar to linear scale.  JS date objects.<br>
var xScale = d3.time.scale().range([0,width]);<br>
var parseTime = d3.time.format("%Y%m%d");</li>
</ul>
</div> <!-- jumbotron -->

</div> <!-- container -->

<div id="footer">
© 2017
</div>

</div>  <!-- allcontent -->


<script type="text/javascript"
  src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
